[data-md-color-scheme="default"] {
    --md-typeset-a-color: black;
}

.md-typeset {
    a {
        font-weight: 700 !important;
    }
}

[data-md-color-scheme="slate"][data-md-color-scheme] {
    --md-typeset-a-color: white;
}