[data-md-color-scheme="default"] {
    --md-typeset-a-color: black;
}

[data-md-color-scheme="slate"][data-md-color-scheme] {
    --md-typeset-a-color: white;
}

.md-typeset a {
    font-weight: 700;
}